In [87]:
import pandas as pd 
import itertools 
import collections
from itertools import combinations 
import os

path = os.getcwd()
path = path.split('/')
path = '/'.join(path[:-1])
    
snl_movie_data = pd.read_csv(f"{path}/data/full_data_snl_movies_coefficient.csv")
snl_movie_data['snl_alums'] = snl_movie_data['snl_alums'].apply(eval)
pairs_list = []
for index, row in snl_movie_data.iterrows():
    snl_alums = snl_movie_data['snl_alums'].values[index]
    snl_alums.sort()
    pairs = list(combinations(snl_alums, 2))
    for pair in pairs: 
        pairs_list.append(pair)
frequencyDict = collections.Counter(pairs_list)
pairs_frequency = pd.DataFrame.from_dict(frequencyDict, orient='index').reset_index()
pairs_frequency.rename(columns={'index':'relationship', 0:'count'}, inplace=True)
#pairs_frequency[['source', 'target']] = pairs_frequency['relationship'].str.split(",", 1, expand=True) - still need to split
pairs_frequency.to_csv(f"{path}/data/pairs_frequency.csv", index=False)

In [88]:
import pandas as pd
pairs_frequency = pd.read_csv("/Users/estene/Documents/GitHub/snl_coefficient/data/pairs_frequency.csv")

In [89]:
pairs_frequency

                              relationship  count
0         ('Chris Rock', 'Kenan Thompson')     45
1        ('Garrett Morris', 'Jane Curtin')     36
2       ('Garrett Morris', 'Tom Schiller')      9
3          ('Jane Curtin', 'Tom Schiller')     11
4       ('Darrell Hammond', 'J.B. Smoove')     15
...                                    ...    ...
75073    ('Will Stephen', 'Yvonne Hudson')      1
75074       ('Will Stephen', 'Zach Kanin')      2
75075      ('Yvonne Hudson', 'Zach Kanin')      1
75076  ('Yvonne Hudson', 'Zack Bornstein')      1
75077     ('Zach Kanin', 'Zack Bornstein')      2

[75078 rows x 2 columns]

In [90]:
pairs_frequency.dtypes

relationship    object
count            int64
dtype: object

In [91]:
pairs_frequency['relationship'] = pairs_frequency['relationship'].astype('string')

In [92]:
sandler_pairs = pairs_frequency[pairs_frequency['relationship'].str.contains('Sandler')]

In [93]:
sandler_pairs = sandler_pairs.sort_values(by='count')
sandler_pairs

                                relationship  count
23967     ('Adam Sandler', 'Zack Bornstein')      1
23864    ('Adam Sandler', 'Dirk Wittenborn')      1
23865       ('Adam Sandler', 'Drake Sather')      1
23866  ('Adam Sandler', 'Eli Coyote Mandel')      1
23868     ('Adam Sandler', 'Ellen L. Fogle')      1
...                                      ...    ...
179          ('Adam Sandler', 'Ben Stiller')     85
602        ('Adam Sandler', 'Rob Schneider')     97
7             ('Adam Sandler', 'Chris Rock')    118
683          ('Adam Sandler', 'David Spade')    120
12          ('Adam Sandler', 'Will Ferrell')    120

[387 rows x 2 columns]

In [94]:
sandler_pairs.head(10)

                                relationship  count
23967     ('Adam Sandler', 'Zack Bornstein')      1
23864    ('Adam Sandler', 'Dirk Wittenborn')      1
23865       ('Adam Sandler', 'Drake Sather')      1
23866  ('Adam Sandler', 'Eli Coyote Mandel')      1
23868     ('Adam Sandler', 'Ellen L. Fogle')      1
23869         ('Adam Sandler', 'Emma Clark')      1
23870        ('Adam Sandler', 'Erik Marino')      1
23871  ('Adam Sandler', 'Erin Fraser (III)')      1
23872      ('Adam Sandler', 'Ferris Butler')      1
23875    ('Adam Sandler', 'Gary Richardson')      1

In [95]:
# now how about just for those from happy madison
path = os.getcwd()
path = path.split('/')
path = '/'.join(path[:-1])
    
snl_movie_data = pd.read_csv(f"{path}/data/full_data_snl_movies_coefficient.csv")
snl_movie_data['production_companies'] = snl_movie_data['production_companies'].astype('string') 
snl_movie_data = snl_movie_data[snl_movie_data['production_companies'].str.contains('Happy Madison')].reset_index()
snl_movie_data.to_csv(f"{path}/data/happy_madison_films.csv", index=False)
snl_movie_data['snl_alums'] = snl_movie_data['snl_alums'].apply(eval)
pairs_list = []
for index, row in snl_movie_data.iterrows():
    snl_alums = snl_movie_data['snl_alums'].values[index]
    snl_alums.sort()
    pairs = list(combinations(snl_alums, 2))
    for pair in pairs: 
        pairs_list.append(pair)
frequencyDict = collections.Counter(pairs_list)
sandler_pairs_frequency = pd.DataFrame.from_dict(frequencyDict, orient='index').reset_index()
sandler_pairs_frequency.rename(columns={'index':'relationship', 0:'count'}, inplace=True)
#pairs_frequency[['source', 'target']] = pairs_frequency['relationship'].str.split(",", 1, expand=True) - still need to split
sandler_pairs_frequency.to_csv(f"{path}/data/sandler_pairs_frequency.csv", index=False)

In [96]:
sandler_pairs_frequency['relationship'] = sandler_pairs_frequency['relationship'].astype('string') 
sandler_pairs = sandler_pairs_frequency[sandler_pairs_frequency['relationship'].str.contains('Sandler')]
sorted_sandler_pairs = sandler_pairs.sort_values(by='count')

In [97]:
sorted_sandler_pairs[['Adam Sandler','Person']] = sorted_sandler_pairs.relationship.str.split(",", expand=True)
sorted_sandler_pairs

,relationship,count,Adam Sandler,Person
371,"('Adam Sandler', 'Taran Killam')",1,('Adam Sandler','Taran Killam')
228,"('Adam Sandler', 'Chris Kattan')",1,('Adam Sandler','Chris Kattan')
321,"('Adam Sandler', 'Janeane Garofalo')",1,('Adam Sandler','Janeane Garofalo')
320,"('Adam Sandler', ""Conan O'Brien"")",1,('Adam Sandler',"""Conan O'Brien"")"
124,"('Adam Sandler', 'Ian Maxtone-Graham')",1,('Adam Sandler','Ian Maxtone-Graham')
319,"('Adam Sandler', 'Chris Elliott')",1,('Adam Sandler','Chris Elliott')
272,"('Adam Sandler', 'Rob Riggle')",1,('Adam Sandler','Rob Riggle')
131,"('Adam Sandler', 'Jimmy Fallon')",1,('Adam Sandler','Jimmy Fallon')
135,"('Adam Sandler', 'Chloe Fineman')",1,('Adam Sandler','Chloe Fineman')
370,"('Adam Sandler', 'Melanie Hutsell')",1,('Adam Sandler','Melanie Hutsell')
270,"('Adam Sandler', 'Molly Shannon')",1,('Adam Sandler','Molly Shannon')
247,"('Adam Sandler', 'Michael McKean')",1,('Adam Sandler','Michael McKean')
151,"('Adam Sandler', 'Fred Armisen')",1,('Adam Sandler','Fred Armisen')
155,"('Adam Sandler', 'Dan Vitale')",1,('Adam Sandler','Dan Vitale')
156,"('Adam Sandler', 'Nancy Carell')",1,('Adam Sandler','Nancy Carell')
169,"('Adam Sandler', 'Tracy Morgan')",1,('Adam Sandler','Tracy Morgan')
116,"('Adam Sandler', 'Heidi Gardner')",1,('Adam Sandler','Heidi Gardner')
114,"('Adam Sandler', 'Peter Gaulke')",1,('Adam Sandler','Peter Gaulke')
117,"('Adam Sandler', 'Chris Farley')",1,('Adam Sandler','Chris Farley')
112,"('Adam Sandler', 'Ben Stiller')",1,('Adam Sandler','Ben Stiller')
4,"('Adam Sandler', 'Anthony Michael Hall')",1,('Adam Sandler','Anthony Michael Hall')
369,"('Adam Sandler', 'Jorma Taccone')",1,('Adam Sandler','Jorma Taccone')
6,"('Adam Sandler', 'David Koechner')",1,('Adam Sandler','David Koechner')
368,"('Adam Sandler', 'Cheri Oteri')",1,('Adam Sandler','Cheri Oteri')
8,"('Adam Sandler', 'Jerry Minor')",1,('Adam Sandler','Jerry Minor')
367,"('Adam Sandler', 'Bobby Moynihan')",1,('Adam Sandler','Bobby Moynihan')
322,"('Adam Sandler', 'Lorne Michaels')",1,('Adam Sandler','Lorne Michaels')
11,"('Adam Sandler', 'Michaela Watkins')",1,('Adam Sandler','Michaela Watkins')
10,"('Adam Sandler', 'Laura Kightlinger')",1,('Adam Sandler','Laura Kightlinger')
366,"('Adam Sandler', 'Akiva Schaffer')",1,('Adam Sandler','Akiva Schaffer')
58,"('Adam Sandler', 'Bob Odenkirk')",1,('Adam Sandler','Bob Odenkirk')
59,"('Adam Sandler', 'Carol Leifer')",1,('Adam Sandler','Carol Leifer')
63,"('Adam Sandler', 'Tom Gianas')",1,('Adam Sandler','Tom Gianas')
108,"('Adam Resnick', 'Adam Sandler')",1,('Adam Resnick','Adam Sandler')
110,"('Adam Sandler', 'Christine Ebersole')",1,('Adam Sandler','Christine Ebersole')
111,"('Adam Sandler', 'Dan Bulla')",1,('Adam Sandler','Dan Bulla')
146,"('Adam Sandler', 'Dan Aykroyd')",2,('Adam Sandler','Dan Aykroyd')
164,"('Adam Sandler', 'Dennis Miller')",2,('Adam Sandler','Dennis Miller')
246,"('Adam Sandler', 'Ellen Cleghorne')",2,('Adam Sandler','Ellen Cleghorne')
271,"('Adam Sandler', 'Paul Brittain')",2,('Adam Sandler','Paul Brittain')
213,"('Adam Sandler', 'Will Forte')",3,('Adam Sandler','Will Forte')
3,"('Adam Sandler', 'Ana Gasteyer')",3,('Adam Sandler','Ana Gasteyer')
211,"('Adam Sandler', 'Andy Samberg')",3,('Adam Sandler','Andy Samberg')
5,"('Adam Sandler', 'Chris Parnell')",3,('Adam Sandler','Chris Parnell')
147,"('Adam Sandler', 'Maya Rudolph')",3,('Adam Sandler','Maya Rudolph')
144,"('Adam Sandler', 'Dana Carvey')",4,('Adam Sandler','Dana Carvey')
212,"('Adam Sandler', 'Colin Quinn')",4,('Adam Sandler','Colin Quinn')
12,"('Adam Sandler', 'Tim Meadows')",5,('Adam Sandler','Tim Meadows')
127,"('Adam Sandler', 'Steve Koren')",5,('Adam Sandler','Steve Koren')
138,"('Adam Sandler', 'Rachel Dratch')",6,('Adam Sandler','Rachel Dratch')
133,"('Adam Sandler', 'Norm MacDonald')",6,('Adam Sandler','Norm MacDonald')
168,"('Adam Sandler', 'Chris Rock')",6,('Adam Sandler','Chris Rock')
175,"('Adam Sandler', 'Robert Smigel')",6,('Adam Sandler','Robert Smigel')
113,"('Adam Sandler', 'Fred Wolf')",8,('Adam Sandler','Fred Wolf')
9,"('Adam Sandler', 'Jon Lovitz')",9,('Adam Sandler','Jon Lovitz')
126,"('Adam Sandler', 'Kevin Nealon')",11,('Adam Sandler','Kevin Nealon')
7,"('Adam Sandler', 'David Spade')",15,('Adam Sandler','David Spade')
119,"('Adam Sandler', 'Tim Herlihy')",15,('Adam Sandler','Tim Herlihy')
118,"('Adam Sandler', 'Rob Schneider')",21,('Adam Sandler','Rob Schneider')

In [98]:
# make a spreadsheet with person & film
happy_madison = pd.read_csv(f"{path}/data/happy_madison_films.csv")
happy_madison['snl_alums'] = happy_madison['snl_alums'].apply(eval)
happy_madison['snl_alums'] = happy_madison['snl_alums'].apply(lambda x: '|'.join(x))
happy_madison = happy_madison[happy_madison['snl_alums'].str.contains('Adam Sandler')]

def tidy_split(df, column, sep='|', keep=False):
    """
    Params
    ------
    df : pandas.DataFrame
        dataframe with the column to split and expand
    column : str
        the column to split and expand
    sep : str
        the string used to split the column's values
    keep : bool
        whether to retain the presplit value as it's own row

    Returns
    -------
    pandas.DataFrame
        Returns a dataframe with the same columns as `df`.
    """
    indexes = list()
    new_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

happy_madison_unique = tidy_split(happy_madison, "snl_alums", sep='|', keep=False)
happy_madison_unique = happy_madison_unique[happy_madison_unique['snl_alums']!='Adam Sandler']
happy_madison_unique = happy_madison_unique[['imdb_link', 'title','snl_alums']]
happy_madison_unique

                                imdb_link          title          snl_alums
1   https://www.imdb.com/title/tt2712740/  The Goldbergs        Jerry Minor
1   https://www.imdb.com/title/tt2712740/  The Goldbergs      Chris Parnell
1   https://www.imdb.com/title/tt2712740/  The Goldbergs   Michaela Watkins
1   https://www.imdb.com/title/tt2712740/  The Goldbergs       Ana Gasteyer
1   https://www.imdb.com/title/tt2712740/  The Goldbergs  Laura Kightlinger
..                                    ...            ...                ...
48  https://www.imdb.com/title/tt2191701/    Grown Ups 2        Tim Meadows
48  https://www.imdb.com/title/tt2191701/    Grown Ups 2    Melanie Hutsell
48  https://www.imdb.com/title/tt2191701/    Grown Ups 2    Ellen Cleghorne
48  https://www.imdb.com/title/tt2191701/    Grown Ups 2      Jorma Taccone
48  https://www.imdb.com/title/tt2191701/    Grown Ups 2         Will Forte

[180 rows x 3 columns]

In [100]:
import altair as alt
from vega_datasets import data

adam_sandler_collabs = alt.Chart(happy_madison_unique).mark_bar().encode(
    x='count(title)',
    y='snl_alums',
    color='title',
    order=alt.Order(
      # Sort the segments of the bars by this field
      'title',
      sort='ascending'
    ),
    tooltip=[alt.Tooltip('title:N', title='Title')]
)

adam_sandler_collabs.save('visualizations/adam_sandler_collabs.html')